// Typography

$ff-primary: 'Poppins';
$ff-size: 1rem;
$ff-w-normal: 400;
$ff-w-medium: 500;
$ff-w-semi-bold: 600;
$ff-w-bold: 700;


// Colors

$Black: hsl(0%, 0%, 0%); 
$White: hsl(100%, 100%, 100%); 
$Red: hsl(0, 100%, 74%); 
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$Dark_Blue: hsl(249, 10%, 26%);
$Grayish_Blue: hsl(246, 25%, 77%);